<?xml version='1.0'?>

<!-- WEB SERVER META DATA -->
<webserver
    title="Bridger's Webserver"
    date="March 2018"
    author="Bridger Fisher"
>

<!-- DEFAULT DOCUMENTS -->
<!-- macOS style -->
<context defaultDocument="/Users/laxfish/Desktop/Westminster/Networks/homework/webServer/website/templates/index.html"></context>

<!-- DOCUMENT ROOT -->
<!-- Windows style -->
<context documentRoot="/Users/laxfish/Desktop/Westminster/Networks/homework/webServer/website"></context>

<!-- LOG FILE -->
<!-- macOS / Linux style -->
<logfile log="/Users/laxfish/Desktop/Westminster/Networks/homework/webServer/log.txt"></logfile>

<!-- 404 FILE -->
<!-- macOS / Linux style -->
<context fourohfour = "/Users/laxfish/Desktop/Westminster/Networks/homework/webServer/website/templates/404.html"></context>

</webserver>
